
body {
	background-color: black;
}

/*Keep logo and text perfectly centered*/
div.backgroundIndex{
	position: fixed;
  	top: 50%;
  	left: 50%;
  	/* bring your own prefixes */
  	transform: translate(-50%, -50%);
}

/*Fluid Typography*/
p{
	font-size: calc(70px + (80 - 70) * ((100vw - 300px) / (405 - 300)));
}
#indexText{
	font-size: calc(11px + (100 - 11) * ((100vw - 300px) / (15000 - 300)));
}