
body {
	background: url(../images/index.jpg) no-repeat center center fixed;
}


.colorIcons {
	color: #FFFFFF;
}


/*RESPONSIVE650*/

@media (min-width: 816px) {
  #container {
    width: 100%;
  }
  p {
    font-size: 12em; /*when screen size is bigger than 816px make the font size*/
  }
	#indexText {
		font-size: 1em;
	}
	#buildNumber {
	font-size: 0.6em;
	}
	div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
	width: 2%;
	opacity: 0.3;
    filter: Alpha(opacity=30); /* IE8 and earlier */
	}
}
/*when screen size is smaller than 815px make the font size*/
@media (max-width: 815px){
	p {
		font-size: 5em;
	}
	#indexText {
		font-size: 0.5em;
	}
	#buildNumber {
	font-size: 0.6em;
	}
	div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
	width: 8%;
	opacity: 0.3;
    filter: Alpha(opacity=30); /* IE8 and earlier */
}
}

/*when screen size is smaller than 325px make the font size*/
@media (max-width: 325px){
	p {
		font-size: 4em;
	}
	div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
	width: 10%;
	opacity: 0.3;
    filter: Alpha(opacity=30); /* IE8 and earlier */
}
}