
body {
background: url(../images/otherPages.jpg) no-repeat center center fixed;
}
.w3sContainerBackground {
	background-color: #3b455d;
}
p{
	font-size: calc(60px + (80 - 60) * ((100vw - 300px) / (900 - 300)));
}
div.spacer20{
	height: 20px;
	overflow: hidden;
	width: 100%;
}
div.spacer30{
	height: 30px;
	overflow: hidden;
	width: 100%;
}
.pageTitle{
	font-size: calc(15px + (70 - 15) * ((100vw - 300px) / (10000 - 300)));
}

h5, li{
	font-size: calc(13px + (50 - 13) * ((100vw - 300px) / (8000 - 300)));
	text-align: center;
	color: white;
	margin: 5px 0;
}
h6{
	font-size: calc(13px + (45 - 13) * ((100vw - 300px) / (8000 - 300)));
}



/*RESPONSIVE*/
@media (min-width: 816px) {
	/*add font size for blinker*/
	.blinking-cursor {
		font-size: 1em;
	}
}


/*ABOUT*/
.breakInAbout{
	background-color: #3b455d;
}
li.skills{
	text-align: left;
}
ul.allSkills{
	padding-left: 2%;
	padding-top: 1%;
}

.panel {
	padding: 0 35px;
	background-color: #3b455d;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}
ul.breakdown {
	/*remove bullets for this info*/
	list-style: none;
}
.accordion {
	background-color: #242A39;
	color: #F9F9F9;
	cursor: pointer;
	padding: 13.4px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: calc(13px + (50 - 13) * ((100vw - 300px) / (8000 - 300)));
	font-weight: bold;
	transition: 0.4s;
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
}
.active, .accordion:hover {
	background-color: #B78C00;
}
.accordion:after {
	content: '\002B';
	color: #777777;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}
.active:after {
	content: "\2212";
}


/*CONTACT*/
.socialIcons{
	display:inline-block;
	height: 10%;
	padding-top: 10px;
}
.contactIcons {
	font-size: 1.7em;
	padding: 0.5rem;
}
.w3sContainerTitle {
	background-color: #242A39;
}
.centerIcons{
	display: flex;
	justify-content: center;
}
.contactLink{
	text-decoration: underline;
}
img{
	width: 80%;
}
button.w3-button{
	width: calc(60px + (150 - 60) * ((100vw - 300px) / (3000 - 300)));
	height: calc(60px + (150 - 60) * ((100vw - 300px) / (3000 - 300)));
}
button.highlighter:hover{
	background-color:#A57F00!important;
  }


/*Back to top*/
#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#A57F00;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:rgb(125, 96, 2);
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}