
body {
background: url(../images/otherPages.jpg) no-repeat center center fixed;
}

.w3sContainerBackground {
	background-color: #3b455d;
}

p{
	font-size: calc(60px + (80 - 60) * ((100vw - 300px) / (900 - 300)));
}

div.spacer20{
	height: 20px;
	overflow: hidden;
	width: 100%;
}
div.spacer30{
	height: 30px;
	overflow: hidden;
	width: 100%;
}

.pageTitle{
	font-size: calc(15px + (70 - 15) * ((100vw - 300px) / (10000 - 300)));
}

h5, li{
	font-size: calc(13px + (70 - 13) * ((100vw - 300px) / (8000 - 300)));
	text-align: center;
	color: white;
}
h6{
	font-size: calc(13px + (45 - 13) * ((100vw - 300px) / (8000 - 300)));

}

/*
@media (max-width:600px){.topUP-modal-content{margin:0 10px;width:auto!important}.w3-modal{padding-top:30px}}
@media (max-width:768px){.topUP-modal-content{width:500px}.w3-modal{padding-top:50px}}
@media (min-width:993px){.topUP-modal-content{width:900px}.w3-hide-large{display:none!important}.w3-sidebar.w3-collapse{display:block!important}}
*/

/*RESPONSIVE*/
@media (min-width: 816px) {
	/*add font size for blinker*/
	.blinking-cursor {
		font-size: 1em;
	}
}

/*ABOUT_ME*/
h1 {
	text-align: center;
}

/*for the skills I want them to the left compared to bio*/
li.skills{
	text-align: left;
}

ul.allSkills{
	padding-left: 2%;
	padding-top: 1%;
}

.paddingForAbout{
	height: 40px;
	overflow: hidden;
	width: 100%;
}

.contactLink{
	text-decoration: underline;
}



/*PORTFOLIO*/

.w3-quarter img{margin-bottom: -6px; cursor: pointer}
.w3-quarter img:hover{opacity: 0.6; transition: 0.3s}

.topUP-modal-content{margin:auto;background-color:#fff;position:fixed;padding:0;outline:0;width:600px;top:3%;}/*position relative and no top*/


/*remove bullets for this info*/
ul.breakdown {
  list-style: none;
}


/*ABOUT*/
.breakInAbout{
	background-color: #3b455d;
}
.panel {
	padding: 0 35px;
	background-color: #3b455d;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}
.accordion {
	background-color: #242A39;
	color: #F9F9F9;
	cursor: pointer;
	padding: 13.4px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 1em;
	font-weight: bold;
	transition: 0.4s;
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
}
.active, .accordion:hover {
	background-color: #B78C00;
}
.accordion:after {
	content: '\002B';
	color: #777777;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}
.active:after {
	content: "\2212";
}


/*CONTACT*/
.socialIcons{
	display:inline-block;
	height: 10%;
	padding-top: 10px;
}
.contactIcons {
	font-size: 1.7em;
}
.w3sContainerTitle {
	background-color: #242A39;
}