
body {
background: url(../images/otherPages.jpg) no-repeat center center fixed;
}







p {
	color: white;
	text-align: center;
	font-family: Consolas, 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Courier C Bold', 'monospace';
}




/*RESPONSIVE*/
@media (min-width: 816px) {
  #container {
    width: 100%;
  }
  p {
    font-size: 7em; /*when screen size is bigger than 816px make the font size*/
  }
	h5, li{
		font-size: 1.125em;
	}
	.indexText {
		font-size: 2em;
	}
	.expText {
		font-size: 1.7em;
	}
	.email{
		font-size: 1em;
	}
	#buildNumber {
	font-size: 0.6em;
	}
	div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
	width: 3%;
	opacity: 0.3;
    filter: Alpha(opacity=30); /* IE8 and earlier */
	}
	/*porfolio*/
	h6{
		font-size: 	0.3125em;
	}
	.warnText {
		font-size: 0.5em;
	}
	/*add font size for blinker*/
	.blinking-cursor {
		font-size: 1em;
	}
}


/*when screen size is smaller than 815px make the font&DIV size*/
@media (max-width: 815px){
	p {
		font-size: 5em;
	}
	.indexText {
		font-size: 1em;
	}
	.expText {
		font-size: 0.85em;
	}
	.email{
		font-size: 0.75em;
	}
	#buildNumber {
	font-size: 0.6em;
	}
	div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
	width: 4%;
	opacity: 0.3;
    filter: Alpha(opacity=30); /* IE8 and earlier */
	}
	/*portfolio*/
	.warnText {
		font-size: 0.25em;
	}
	
}

/*when screen size is smaller than 325px make the font&DIV size*/
@media (max-width: 325px){
	p {
		font-size: 4em;
	}
	div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
	width: 10%;
	opacity: 0.3;
    filter: Alpha(opacity=30); /* IE8 and earlier */
	}
}

/*when screen size is smaller than 540px make the DIV size*/
@media (max-width: 540px){
	div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
	width: 9%;
	opacity: 0.3;
    filter: Alpha(opacity=30); /* IE8 and earlier */
		z-index: 4;
	}
}



/*aboutMe




*/
h1 {
	color: white;
	text-align: center;
}

h5, li{
	color: white;
	text-align: center;
	font-family: Consolas, 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Courier New', 'monospace'; 
}

/*for the skills I want them to the left compared to bio*/
li.skills{
	text-align: left;
}

ul.allSkills{
	padding-left: 2%;
	padding-top: 1%;
}

.paddingForAbout{
	height: 40px;
	overflow: hidden;
	width: 100%;
}
.colorIcons {
	color: #FFFFFF;
}

.w3sContainerBackground {
	background-color: #3b455d;
}
.w3sContainerTitle {
	background-color: #242A39;
}

.contactLink{
	text-decoration: underline;
}


/*font size changes for content*/
@media (max-width: 800px){
	h5, li{
		font-size: 0.875em;
	}
}

/*for iPhone X*/
@media (max-width: 450px){
	h5, li{
		font-size: 0.750em;
	}
}

	



/*porfolioStyle




*/

.w3-quarter img{margin-bottom: -6px; cursor: pointer}
.w3-quarter img:hover{opacity: 0.6; transition: 0.3s}

h6{
	color: white;
	text-align: center;
	font-family: Consolas, 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Courier New', 'monospace'; 
}

h6:hover {
	font-weight:bold;
}
/*padding changes for Modal*/
@media (max-width: 800px){
	h6{
		font-size: 0.1875em;
	}
	.imageCenteringForModal {
		padding-bottom:50%;
	}
}

/*padding changes for Modal*/
@media (max-width: 599px){
	.imageCenteringForModal {
		padding-top:35%;
	}
}


.topUP-modal-content{margin:auto;background-color:#fff;position:fixed;padding:0;outline:0;width:600px;top:3%;}/*position relative and no top*/
@media (max-width:600px){.topUP-modal-content{margin:0 10px;width:auto!important}.w3-modal{padding-top:30px}}
@media (max-width:768px){.topUP-modal-content{width:500px}.w3-modal{padding-top:50px}}
@media (min-width:993px){.topUP-modal-content{width:900px}.w3-hide-large{display:none!important}.w3-sidebar.w3-collapse{display:block!important}}


/*Blinking Cursor Idea*/
.blinking-cursor {
  font-weight: 100;
  
  color: #FFFFFF;
	word-spacing: -2px;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}
/*end*/

/*remove bullets for this info*/
ul.breakdown {
  list-style: none;
}

/*Need to push a little bit due to cursor*/
.indexText{
	padding-left: -20px;
}
/**/

/*Accordion style on about page*/
.accordion {
    background-color: #242A39;
    color: #F9F9F9;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1em;
	font-weight: bold;
    transition: 0.4s;
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);

}
.active, .accordion:hover {
    background-color: #B78C00;
}

.accordion:after {
    content: '\002B';
    color: #777777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: #3b455d;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.breakInAbout{
	background-color: #3b455d;
}


/*Changes to Contact Me Page*/
.socialIcons{
	display:inline-block;
	height: 10%;
	padding-top: 10px;
}

div.contactSpacer10{
	height: 10px; 
	overflow: hidden; 
	width: 100%;	
}

div.contactSpacer20{
	height: 20px; 
	overflow: hidden; 
	width: 100%;	
}

.centerTheIcons{
	padding-left:none;
}

.w3-customHover:hover{color:#000!important;background-color:#A57F00!important}